<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }}</title>
	<meta name="author" content="Kevin Sornberger"/>
	<link rel="stylesheet" href="/css/styles.css" />
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-4237681-10']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>

<div id="header">
	<div id="me">
		<a href="/">
			<span id="kevin">kevin</span>
			<span id="sornberger">sornberger</span>
		</a>
	</div>
	<div id="mousing">&nbsp;</div>
	<div class="site">
	
	</div>
	<div id="sections">
		<div>
			<a href="/about.html">about</a>
		</div>
		<div>
			<a href="/projects.html">projects</a>
		</div>
	</div>
	<div id="icons">
		<div>
			<a href="http://www.github.com/ksornberger"><img src="/images/icon_github.png" /></a>
		</div>
	</div>



</div>

<body>

	<div id="body-header">
		<p></p>
	</div>

	{{ content }}


</body>

</html>