<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	{% include page_title.html %}
	<meta name="author" content="Kevin Sornberger"/>
	<link rel="stylesheet" href="/css/styles.css" />
	{% seo title=false %}

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-4237681-10']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body>

	<div id="container">
		<div id="header">
			<div id="me">
				<a href="/">
					<h1>
						<span id="kevin">Kevin</span>
						<span id="sornberger">Sornberger</span>
					</h1>
				</a>
			</div>
			<div id="mousing">&nbsp;</div>
			<div class="site">
	
			</div>
			<div id="sections">
				<div>
					<a href="/about.html">about</a>
				</div>
				<div>
					<a href="/projects.html">projects</a>
				</div>
			</div>
			<div id="icons">
				<div class="side-github">
					<a href="http://www.github.com/ksornberger"><img src="/images/icon_github.png" alt="Github Logo"/></a>
				</div>
				<div class="side-twitter">
					<a href="http://www.twitter.com/ksornberger"><img src="/images/icon_twitter-70x70.jpg" alt="Twitter Logo"/></a>
				</div>
			</div>



		</div>



			<div id="body-header">
				<p></p>
			</div>

			{{ content }}
	</div>
</body>
</html>